@model IEnumerable<BeCareWithYourFuckingCode.Models.TB_GAME_ACCOUNT>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">TB_GAME_ACCOUNT</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table display" id="table_id">
                <thead class=" text-primary">
                    <tr>
                        <th>Mã</th>
                        <th>Tên đăng nhập</th>
                        <th>Mật khẩu</th>
                        <th>Giá khởi điểm</th>
                        <th>Ảnh đại diện</th>
                        <th>Level</th>
                        <th>Tướng</th>
                        <th>Trang phục</th>
                        <th>Bảng ngọc</th>
                        <th>Bậc cao nhất</th>
                        <th>Bậc hiện tại</th>
                        <th>Clan</th>
                        <th>Hình 1</th>
                        <th>Hình 2</th>
                        <th>Hình 3</th>
                        <th>Hình 4</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td>@x.ID</td>
                            <td>@x.USERNAME</td>
                            <td>@x.PASSWORD_KEY</td>
                            <td>@x.ORIGINAL_PRICE</td>
                            <td>@x.RE_IMAGE</td>
                            <td>@x.TB_GAME_ACCOUNT_DETAIL.LEVEL_NUMBER</td>
                            <td>@x.TB_GAME_ACCOUNT_DETAIL.GENERAL_NUMBER</td>
                            <td>@x.TB_GAME_ACCOUNT_DETAIL.SKIN_NUMBER</td>
                            <td>@x.TB_GAME_ACCOUNT_DETAIL.GEM_NUMBER</td>
                            <td>@x.TB_GAME_ACCOUNT_DETAIL.TB_RANK_NAME.RANK_NAME</td>
                            <td>@x.TB_GAME_ACCOUNT_DETAIL.TB_RANK_NAME1.RANK_NAME</td>
                            <td>@x.TB_GAME_ACCOUNT_DETAIL.CLAN_NAME</td>
                            <td>@x.TB_GAME_IMAGE.IMG_1</td>
                            <td>@x.TB_GAME_IMAGE.IMG_2</td>
                            <td>@x.TB_GAME_IMAGE.IMG_3</td>
                            <td>@x.TB_GAME_IMAGE.IMG_4</td>
                        </tr>
                    }
                </tbody>
            </table>
         
        </div>
    </div>
</div>

