@model  IEnumerable<BeCareWithYourFuckingCode.Models.TB_USER>

@{
    ViewBag.Title = "getTBUSER";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
<div class="content">
    <div class="row">
        <div class="col-md-12" id="game_account">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">TB_USER</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="display table-sm" id="table_id">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên đăng nhập</th>
                                    <th>Mật khẩu</th>
                                    <th>Tên</th>
                                    <th>Email</th>
                                    <th>Điện thoại</th>
                                    <th>Địa chỉ hiện tại</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var x in Model)
                                {
                                    <tr>
                                        <td>@x.ID</td>
                                        <td>@x.USERNAME</td>
                                        <td>@x.PASSWORD_KEY</td>
                                        <td>@x.NAME</td>
                                        <td>@x.EMAIL</td>
                                        <td>@x.PHONE</td>
                                        <td>@x.CURRENT_ADDRESS</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




