@model IEnumerable<BeCareWithYourFuckingCode.Models.TB_GAME_ACCOUNT>

@{
    ViewBag.Title = "getTBGameAccount";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });

    function getdetail(id) {
        $.getJSON('/Admin/DetailsTB_GAME_ACCOUNT/' + id, function (res) {
            if (res.toString() != "") {
                var html = '';
                html += '<tr>';
                html += '<td>' + res.tuong + '</td>';
                html += '<td>' + res.skin + '</td>';
                html += '<td>' + res.ngoc + '</td>';
                html += '<td>' + res.hangb + '</td>';
                html += '<td>' + res.hangc + '</td>';
                html += '<td>' + res.clan + '</td>';
                html += '<td>' + res.img1 + '</td>';
                html += '<td>' + res.img2 + '</td>';
                html += '<td>' + res.img3 + '</td>';
                html += '<td>' + res.img4 + '</td>';
                html += '</tr>';
                $('#detail').removeClass('d-none');
                $('#title').html("Chi tiết account: " + id);
                $('#tbody-detail').html(html);
                $('html, body').animate({ scrollTop: $(document).height() }, 'slow');
            }

        });
    }

    function getAllAccount(val){
        $.getJSON('/Admin/getTBGameAccountAcc/' + val, function (rs) {
            console.log(rs); return;
            var html = '';
            $.each(rs, function (key, item) {
                html += '<tr>';
                html += ' <td><div title="Chi tiết" class="text-dark bg-transparent" onclick="getdetail(' + item.id + ')" style="cursor: pointer">' + item.ID + '</div></td>';
                html += '<td>'+item.username+'</td>';
                html += '<td>'+item.gia+'</td>';
                html += '<td>'+item.level+'</td>';
                html += '<td>' + item.img + '</td>';
                if (item.status == 0) html += '<td>Đang chờ duyệt   <button  title="Duyệt account hợp lệ">Duyệt</button></td>';
                else if (item.status == 1) html += ' <td>Đang bán</td>';
                else html += '<td>Đã bán<button title="Đổi thành đang bán">Cập nhật</button>';
                html += '</tr>';
            });
            $('#accountTbody').html(html);
        });
    }
</script>
<div class="content">
    <div class="row">
        <div class="col-md-12" id="game_account">
            <div class="card">
                <div class="card-header">
                    Lọc theo
                    <select class="" onchange="getAllAccount(this.value)">
                        <option value="-1" selected>Tất cả</option>
                        <option value="0">Đang chờ duyệt</option>
                        <option value="1">Đang bán</option>
                        <option value="2">Đã bán</option>
                        <option value="3">Đang được trả giá</option>
                    </select>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="display table-sm" id="table_id">
                            <thead class="text-info">
                                <tr>
                                    <th>Mã</th>
                                    <th>Tên đăng nhập</th>
                                    <th>Mật khẩu</th>
                                    <th>Giá khởi điểm</th>
                                    <th>Level</th>
                                    <th>Ảnh đại diện</th>                                    
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody id="accountTbody">
                                @foreach (var x in Model)
                                {
                                    <tr>
                                        <td><div title="Chi tiết" class="text-dark bg-transparent" onclick="getdetail('@x.ID')" style="cursor: pointer">@x.ID</div></td>
                                        <td>@x.USERNAME</td>
                                        <td>@x.PASSWORD_KEY</td>
                                        <td>@x.ORIGINAL_PRICE</td>
                                        <td>@x.TB_GAME_ACCOUNT_DETAIL.LEVEL_NUMBER</td>
                                        <td>@x.RE_IMAGE</td>
                                        @if (x.CURRENT_STATUS == 1)
                                        {
                                            <td>Đang bán</td>
                                        }
                                        else if (x.CURRENT_STATUS == 2)
                                        {
                                            <td>
                                                Đã bán
                                                <button title="Đổi thành đang bán">Cập nhật</button>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                Đang chờ xét duyệt
                                                <button  title="Duyệt account hợp lệ">Duyệt</button>
                                            </td>
                                        }
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 d-none" id="detail">
            <div class="card">
                <div class="card-header">
                    <h4 id="title"></h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-dark">
                            <thead class="text-warning">
                                <tr>
                                    <th>Tướng</th>
                                    <th>Trang phục</th>
                                    <th>Bảng ngọc</th>
                                    <th>Bậc cao nhất</th>
                                    <th>Bậc hiện tại</th>
                                    <th>Clan</th>
                                    <th>Hình 1</th>
                                    <th>Hình 2</th>
                                    <th>Hình 3</th>
                                    <th>Hình 4</th>
                                </tr>
                            </thead>
                            <tbody id="tbody-detail"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


