<!--sự kiện chọn giá trong select box-->
@model BeCareWithYourFuckingCode.Models.TB_GAME_PRICE_OFFER
<script type="text/javascript">
    $(document).ready(function () {
        $('#USER_PRICE_OFFER').change(function () {
            var val = $(this).val();
            $('.my-info').removeClass('d-none');
            $('.selected-price').text(NumberFormat(val) + " Đ");
        });
    });

    $().ready(function () {
        $('#capnhatgia').click(function () {
            var login = "";
            $.getJSON('/User/checkLogined', '', function (rs) {
                login = rs.toString();
                if (login == 0) {
                    alert("Vui lòng đăng nhập để tiếp tục !");
                } else {
                    $('#USER_ACCOUNT_ID').val(login);
                    $('#CURRENT_STATUS').val(0);
                    var data = $('#form-offer').serialize();
                    $.ajax({
                        url: '/Deal/CreateDeal',
                        type: 'POST',
                        data: data,
                        success: function (rs) {
                            if (rs.toString() == "success") {
                                $('#message').removeClass('d-none');
                                $('#message').addClass('alert-success');
                                $('#message').html('<p class ="h6 font-weight-bold">Đã lưu thông tin giao dịch, mọi thông tin sẽ được gửi qua profile</p>');
                            } else if (rs == '?') {
                                var html = '';
                                html += '<p class ="h6 font-weight-bold d-inline">Bạn đã trả giá cho account này, bạn có muốn trả giá lại ?</p>';
                                html += '<div class="d-inline"><button class="btn btn-default" onclick="capnhatOffer()">Yes</button>/<button class="btn btn-default">No</button></div>';
                                $('#message').removeClass('d-none');
                                $('#message').addClass('alert-info');
                                $('#message').html(html);
                            } else {
                                $('#message').removeClass('d-none');
                                $('#message').addClass('alert-danger');
                                $('#message').html('<p class = "h6 font-weight-bold">' + 'Không thể cập nhật dữ liệu ' + '</p>');
                            }
                        },
                        error: function (rs) {
                            $('#message').removeClass('d-none');
                            $('#message').addClass('alert-danger');
                            $('#message').html('<p class = "h6 font-weight-bold">' + 'Có lỗi vui lòng thử lại: ' + rs.toString() + '</p>');
                        }
                    });
                }
            });


        });
    })

    function capnhatOffer() {
        var data = $('#form-offer').serialize();
        $.ajax({
            url: '/Deal/updateDeal',
            type: 'POST',
            data: data,
            success: function (rs) {
                if (rs.toString() == 'success') {
                    $('#message').removeClass('alert-info');
                    $('#message').addClass('alert-success');
                    $('#message').html('<p class ="h6 font-weight-bold">Đã lưu thông tin giao dịch, mọi thông tin sẽ được gửi qua profile</p>');
                } else if (rs.toString() == 'fail') {
                    $('#message').html('<p class = "h6 font-weight-bold">' + 'Không thể cập nhật dữ liệu ' + '</p>');
                } else {
                    $('#message').html('<p class = "h6 font-weight-bold">' + 'Có lỗi vui lòng thử lại: ' + rs.toString() + '</p>');
                }
            },
            error: function () {
                $('#message').html('<p class = "h6 font-weight-bold">' + 'Có lỗi vui lòng thử lại: ' + rs.toString() + '</p>');
            },
        });
    }
</script>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Trả giá</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-inline">
                    <li class="list-inline-item font-weight-bold">Giá gốc: </li>
                    <li class="list-inline-item font-weight-bold text-danger" id="oriprice"></li>
                </ul>
                <div class="alert my-2 d-none" id="message"></div>
                <footer class="blockquote-footer">Hãy chọn giá mà bạn cho rằng hợp lý (5% - 75%)</footer>
                <form class="form mt-2" id="form-offer">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="col-md-6">
                            @Html.TextBoxFor(x => x.USER_ACCOUNT_ID, new { @class = "d-none" })
                            @Html.TextBoxFor(x => x.USERNAME, new { @class = "d-none" })
                            @Html.TextBoxFor(x => x.CURRENT_STATUS, new { @class = "d-none", @type = "number" })
                            <select name="USER_PRICE_OFFER" id="USER_PRICE_OFFER" class="form-control"></select>
                        </div>
                    </div>
                    <div class="mt-2 my-info  d-none w-100" style="word-wrap: break-word;">
                        <p class="d-inline h6 ">Bạn chọn giá: </p><span class="d-inline text-danger font-weight-bold selected-price"></span>
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button class="btn btn-success" type="submit" id="capnhatgia">Cập nhật</button>
            </div>

        </div>
    </div>
</div>
