@model BeCareWithYourFuckingCode.Models.TB_GAME_ACCOUNT 
@using BeCareWithYourFuckingCode.Models;
@{
    ViewBag.Title = "Sale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row bg-white p-5">
    <div class="col-12">
        <form method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4">@Html.DisplayNameFor(x=>x.USERNAME)</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(x => x.USERNAME, new { @class = "form-control form-control-sm", @autofocus = "" })
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 ">@Html.DisplayNameFor(x=>x.PASSWORD_KEY)</label>
                        <div class="col-sm-8">@Html.PasswordFor(x => x.PASSWORD_KEY, new {@class = "form-control form-control-sm" })</div>
                    </div>
                    <div class="form-group row">
                         <label class="col-sm-4">@Html.DisplayNameFor(x=>x.TB_GAME_ACCOUNT_DETAIL.GENERAL_NUMBER)</label>
                        <div class="col-sm-8">@Html.TextBoxFor(x => x.TB_GAME_ACCOUNT_DETAIL.GENERAL_NUMBER, new {@class = "form-control form-control-sm",@type = "number",@min = 5 })</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4">@Html.DisplayNameFor(x => x.TB_GAME_ACCOUNT_DETAIL.SKIN_NUMBER)</label>
                        <div class="col-sm-8">@Html.TextBoxFor(x => x.TB_GAME_ACCOUNT_DETAIL.SKIN_NUMBER, new { @class = "form-control form-control-sm", @type = "number", @min = 0})</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4">@Html.DisplayNameFor(x => x.TB_GAME_ACCOUNT_DETAIL.GEM_NUMBER)</label>
                        <div class="col-sm-8">@Html.TextBoxFor(x => x.TB_GAME_ACCOUNT_DETAIL.GEM_NUMBER, new { @class = "form-control form-control-sm", @type = "number", @min = 0 })</div>
                    </div>             
                    <div class="form-group row">
                        <label class="col-sm-4">@Html.DisplayNameFor(x => x.TB_GAME_ACCOUNT_DETAIL.LEVEL_NUMBER)</label>
                        <div class="col-sm-8">@Html.TextBoxFor(x => x.TB_GAME_ACCOUNT_DETAIL.LEVEL_NUMBER, new { @class = "form-control form-control-sm", @type = "number", @min = 1, @max = 30 })</div>
                    </div> 
                    <div class="form-group row">
                        <label class="col-sm-4">@Html.DisplayNameFor(x => x.TB_GAME_ACCOUNT_DETAIL.CLAN_NAME)</label>
                        <div class="col-sm-8">@Html.TextBoxFor(x => x.TB_GAME_ACCOUNT_DETAIL.CLAN_NAME, new { @class = "form-control form-control-sm"})</div>
                    </div> 
                    <div class="form-group row">
                        <label class="col-sm-4">@Html.DisplayNameFor(x=>x.TB_GAME_ACCOUNT_DETAIL.BEST_RANK)</label>
                        <div class="col-sm-8">
                            
                            <select name="" class="form-control form-control-sm">
                                <option value="0">Không rank</option>
                                <option value="dong">Đồng</option>
                                <option value="bac">Bạc</option>
                                <option value="vang">Vàng</option>
                                <option value="bk">Bạch Kim</option>
                                <option value="kk">Kim Cương</option>
                                <option value="ct">Cao Thủ</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-4">@Html.DisplayNameFor(x => x.TB_GAME_ACCOUNT_DETAIL.CURRENT_RANK)</label>
                        <div class="col-sm-8">
                            <select name="" class="form-control form-control-sm">
                                <option value="0">Không rank</option>
                                <option value="dong">Đồng</option>
                                <option value="bac">Bạc</option>
                                <option value="vang">Vàng</option>
                                <option value="bk">Bạch Kim</option>
                                <option value="kk">Kim Cương</option>
                                <option value="ct">Cao Thủ</option>
                            </select>
                        </div>
                    </div>
                   
                </div>
                <div class="col-md-6">
                    <label>Hình ảnh</label>
                    <input type="file" name="" class="form-control form-control-sm">
                    <small class="form-text text-danger mt-5">* Bắt buộc</small>
                    <button type="submit" class="btn btn-success">Upload</button>
                </div>
            </div>



        </form>
    </div>
   
</div>