@model BeCareWithYourFuckingCode.Models.TB_GAME_ACCOUNT
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    SelectList slect = new SelectList(ViewBag.tbgank,"RANK_ID","RANK_NAME");
}
<div class="row bg-white p-5">
    <div class="col-md-12">
        <p class="text-danger"><img class="img-fluid" src="~/Content/Images/finger.png" style="width: 20px;" /> Hãy điền tất cả thông tin bên dưới để đăng account</p>

    </div>
    <form action="/" method="post" class="row" id="form-data" enctype="multipart/form-data">
        <div class="col-md-6 mt-2">

            <p class="text-info">Thông tin chi tiết</p>
            <div class="rounded p-3" style="border:2px solid #00ff90;">

                <div class="form-group row">
                    <label class="col-sm-5" style="font-size:14px">Tên đăng nhập garena *</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(x => x.USERNAME, new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5" style="font-size:14px">Mật khẩu *</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(x => x.PASSWORD_KEY, new { @class = "form-control form-control-sm", @type = "password" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5" style="font-size:14px">SL Tướng *</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(x => x.TB_GAME_ACCOUNT_DETAIL.GENERAL_NUMBER, new { @class = "form-control form-control-sm", @type = "number", @min = 5 })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5" style="font-size:14px">SL Trang phục *</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(x => x.TB_GAME_ACCOUNT_DETAIL.SKIN_NUMBER, new { @class = "form-control form-control-sm", @type = "number", @min = 0 })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5" style="font-size:14px">SL Bảng ngọc *</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(x => x.TB_GAME_ACCOUNT_DETAIL.GEM_NUMBER, new { @class = "form-control form-control-sm", @type = "number", @min = 0 })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5" style="font-size:14px">Hạng cao nhất *</label>
                    <div class="col-sm-7">
                        @Html.DropDownListFor(x => x.TB_GAME_ACCOUNT_DETAIL.BEST_RANK, slect, new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5" style="font-size:14px">Hạng hiện tại </label>
                    <div class="col-sm-7">
                        @Html.DropDownListFor(x => x.TB_GAME_ACCOUNT_DETAIL.CURRENT_RANK, slect, new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5" style="font-size:14px">Clan</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(x => x.TB_GAME_ACCOUNT_DETAIL.CLAN_NAME, new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5" style="font-size:14px">Giá *</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(x => x.ORIGINAL_PRICE, new { @class = "form-control form-control-sm", @type = "number", @min = 0 })
                    </div>
                </div>
            </div>
        </div>
        <div class="co-md-6 mt-2">
            <p class="text-warning">Hình</p>
            <div class="p-3">
                <div class="form-group row">
                    <label class="col-sm-5" style="font-size:14px">Hình 1 *</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(x => x.RE_IMAGE, new { @type = "file" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5" style="font-size:14px">Hình 2 *</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(x => x.TB_GAME_IMAGE.IMG_1, new { @type = "file" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5" style="font-size:14px">Hình 3 *</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(x => x.TB_GAME_IMAGE.IMG_2, new { @type = "file" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5" style="font-size:14px">Hình 4 *</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(x => x.TB_GAME_IMAGE.IMG_3, new { @type = "file" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5" style="font-size:14px">Hình 5 </label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(x => x.TB_GAME_IMAGE.IMG_4, new { @type = "file" })
                    </div>
                </div>
                <small class="text-danger">* Băt buộc</small>
            </div>
        </div>
    </form>
    <div class="col-md-8 offset-md-4" >
        <button type="submit" class="btn btn-success float-right" onclick="submit()">Upload</button>
    </div>
</div>

<script type="text/javascript">
    function submit() {
        var data = $('#form-data').serialize();
        console.log(data);
    }
</script>